ul#itemscentered a{
	font-family: 'Amatic SC', cursive;
	font-size: 20pt;
}

a.navbar-brand{
	font-family: 'Reenie Beanie', cursive;
	font-size: 20pt;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	width: 100%;
	height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
	border-radius: 15px;
}

.carousel-caption {
	background-color: rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	padding: 0 0 10px 25px;
	color: #fff;
	text-align: center;
}

.carousel-indicators {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 15;
	margin: 0;
	padding: 0 25px 25px 0;
	text-align: right;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}

.sliderdescription{
	font-family: 'Schoolbell', cursive;
	font-size: 30pt;
}

/* ------------------- Section Carousel Styling ------------------- */

.section-white {
	padding: 10px 0;
}

.section-white {
	background-color: #fff;
	color: #555;
}

@media screen and (min-width: 768px) {

	.section-white {
		padding: 1.5em 0;
	}

}

@media screen and (min-width: 992px) {

	.container {
		max-width: 930px;
	}

}
/* ------------------- about us---------------------- */
#aboutUs
{
	width: 90%;
	margin-left: 5%;
	border: 3px solid #007373;
	border-radius: 15px/15px;
}
#fewbags{
	padding-top:15%;
}
#aboutUsTitle{
	text-align: center;
	font-family: 'Reenie Beanie', cursive;
	font-size: 40pt;
}
.aboutUsText {
	font-family: 'Imprima', sans-serif;
	margin-left: 5%;
	font-size:12pt;
}
#aboutUsLink {
	font-family: 'Imprima', sans-serif;
	margin-left: 5%;
	font-size:13pt;
	text-align: center;
}

/*----------------------------------product carousel------------------------------------*/


#custom_carousel .item {

	color:#fff;
	background-color: #f7f7f7;
	padding:20px ;
	border: 1px solid #007373;
	border-radius: 15px/15px;
}
#custom_carousel .controls{
	overflow-x: auto;
	overflow-y: hidden;
	padding:0;
	margin:0;
	white-space: nowrap;
	text-align: center;
	position: relative;
	background: #fff;
	border: 1px solid #007373;
	border-radius: 15px/15px;
}
#custom_carousel .controls li {
	display: table-cell;
	width: 1%;
	max-width:90px
}

#custom_carousel .controls a small {
	overflow:hidden;
	display:block;
	font-size:10px;
	margin-top:5px;
	font-weight:bold
}

.ProductCarouselTitles{
	text-align: center;
	font-family: 'Schoolbell', cursive;
	font-size: 35pt;
	color: black;
}

.ProductCarouselDescription{
	font-family: 'Imprima', sans-serif;
	font-size: 13pt;
	text-align: center;
	color: black;
}


.ProductCarouselLink {
	text-align: center;
	font-size: 12pt;
	font-family: 'Imprima', sans-serif;
}
.ProductCarouselPrice{
	font-family: 'Imprima', sans-serif;
	font-size: 15pt;
	text-align: center;
	background-color: #e8e8e8;
	color: #000;
}

#footer{
	background-color: #000;
	color: white;

}

/* LAPTOP-TORBE CSS */
.row {
	margin: 0px;

}

.main {
	padding: 0px 20px;

}

.main-left {

	padding: 10px;
}

.main-right {

	padding: 10px 10px;
}

.list-group-item{
	text-align: center;


}
#list-group-item-title{
	font-size: 27pt;
	font-weight: bolder;
	font-family: 'Amatic SC', cursive;
}

#animatedText{
	font-size: 65px;
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-weight: bolder;
	color: #008484;
	background-color: #e8e8e8;
	margin-bottom: -1.2%;
}

.card-img-top {
	max-width: 100%;
	padding: 4%;


}

.card {
	border: 1px solid #777777;
	margin-right: 25px;
	margin-bottom: 20px;
	border-radius: 2%;
}

.card-title{
	border-bottom: 1px solid #9d9d9d;
}
.card-text{
	border-bottom: 1px solid #9d9d9d;

}
/* ERROR PAGE */
#errorpage {
	color: #009c9c;
	font-family: "Amatic SC";
	font-size: 40px;
	padding-top: 2%;

}
.error-template {padding: 40px 15px;text-align: center; }
.error-actions {margin-top:15px;margin-bottom:15px; }
.error-actions .btn { margin-right:10px; font-size: 25px }

#footererrorpage{
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
	background-color: #000;
	color: white;
}
#errortitle1{
	font-size: 60px;
	font-weight: bold;
}
#errortitle2{
	font-size: 45px;
	font-weight: bolder;
}
.error-details{
	font-weight: bold;
}

/*ABOUT US PAGE*/

.page-title{
	color: #393939;
	font-family: Amatic SC;
	font-size: 25pt;
}
.member-content .social-content li a{
	display:inline-block;
	padding:0;
	min-width:40px;
	height:40px;
	font-size:21px;
	line-height:40px;
	color:#008484;
	border-radius:5px;
	box-shadow:0 3px 0 0 transparent;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;

}

.member-content .details {
	margin:20px 0 0 20px;
	position:relative;
	padding:30px;
	padding-left:100px;
	background:#f5f5f5;
	border-radius:10px;
	box-shadow:5px 5px 0 rgba(0,0,0,0.08);
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;

}

.member-content {
	margin-bottom:30px;
}

.member-thumb{
	text-align:center;
}

.member-thumb h4{
	font-size:21px;
	margin:10px 0;
}

.member-thumb .title{
	font-size:18px;
	margin:10px 0;
	color:#008484;

}



.member-content:hover .details {
	background:#008484;
	color:#fff;
}

.member-content.right .details {
	margin:20px 20px 0 0;
	box-shadow:-5px 5px 0 rgba(0,0,0,0.08);
}

.member-content .details:after {
	display:block;
	content:"";
	position:absolute;
	left:-18px;
	top:30px;
	width:0px;
	height:0px;
	background:transparent;
	border:20px solid transparent;
	border-left:20px solid #f5f5f5;
	box-shadow:-3px 0 0 rgba(0,0,0,0.08);

	transform:rotate(-45deg);
	-webkit-transition:border-left-color .3s ease-out;
	transition:border-left-color .3s ease-out;

}

.member-content.right .details:after {
	position:absolute;
	left:auto;
	right:-17px;
	border-left:20px solid transparent;
	border-right:20px solid #f5f5f5;
	box-shadow:3px 0 0 0 rgba(0,0,0,0.08);
	transform:rotate(45deg);
	-webkit-transition:border-right-color .3s ease-out;
	transition:border-right-color .3s ease-out;
}

.member-content:hover .details:after {
	border-left-color:#008484;
	color: #fff;
}

.member-content.right:hover .details:after {
	border-left-color:transparent;
	border-right-color:#008484;

}

.member-content .details:before {
	display:block;
	content:"\201D";
	position:absolute;
	left:20px;
	top:50px;
	font-size:120px;
	font-weight:800;
	line-height:60px;
	font-family:Arial;
	color:#008484;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
}

.member-content:hover .details:before {
	color:#fff;
}

.member-content .social-content {
	list-style:none;
	margin:0;
	padding:0;
}

.member-content .social-content li {
	display:inline;
	text-align:center;
	margin:0 2px;
}

.member-content:hover .social-content li a {
	color:#fff;
}

.member-content .social-content li a:hover{
	background: #b0b0b0;
	color: #fff;
	box-shadow:0 3px 0 0 rgba(0,0,0,0.05);
}
.member-title{
	font-family: Amatic SC;
	font-size: 20pt;
	padding-top: 2%;
}
.quotes{

	font-family: 'Overlock', serif;
	font-size: 16pt;

}
.panel-body{
	font-family: 'Fjalla One', sans-serif;
	font-size: 12pt;
}

@media only screen and (max-width: 320px) {

	.quotes {
		font-size: 13pt;
	}

}
/*button for product link */
.button {
	display: inline-block;
	background-color: rgba(0, 27, 54, 0.79);
	border: none;
	color: #FFFFFF;
	text-align: center;
	padding: 2%;
	padding-top: 3%;
	padding-bottom: 4%;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	font-weight: bolder;
	width: 100%;
	border: 1px solid #191919;
	border-radius: 7px;

}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;

}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;

}

.button:hover span {
	padding-right: 25px;
	color: #ebebeb;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

.site-banners {
	margin-bottom: 20px;
}
